.input {  clip:  rect(   ); height: 18px; width: 100px; background-position: top; font-family: "ו"; font-size: 12px; color: #000033; text-decoration: none}
a:hover {  color: #00CC33; text-decoration: none; font-family: "ו"}
a:active {  color: #660033; text-decoration: none; font-family: "ו"}
