BODY {
	SCROLLBAR-FACE-COLOR: #006600; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #006600; SCROLLBAR-SHADOW-COLOR: #006f00; SCROLLBAR-3DLIGHT-COLOR: #006600; LINE-HEIGHT: 130%; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #006f00; FONT-FAMILY: ו,Times New Roman, Times,serif; SCROLLBAR-DARKSHADOW-COLOR: #006f00
}
.S {
	FONT-SIZE: 9pt; LINE-HEIGHT: 16px
}
A:link {
	FONT-SIZE: 9pt; COLOR: #666600; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #669966; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #000000
}
A:active {
	FONT-SIZE: 9pt
}
A.t2:link {
	FONT-SIZE: 9pt; COLOR: #dfffdf; TEXT-DECORATION: none
}
A.t2:hover {
	FONT-SIZE: 9pt; COLOR: #99ff00
}
.FormStyle {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: #009900 2px dotted; COLOR: #fcedb8; BORDER-BOTTOM: #009900 1px dotted; BACKGROUND-COLOR: #006600
}
A.t2:visited {
	COLOR: #ccffcc
}
.form2 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #009933 1px solid; BORDER-BOTTOM: #009933 1px solid; BACKGROUND-COLOR: #ffffff
}
.buttonStyle {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "ו", "¬ו_GB2312"; BACKGROUND-COLOR: #66cc00
}
.Tb {
	BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: dotted
}
.PointTable {
	BORDER-RIGHT: #00cc00 1px dashed; BORDER-TOP: #00cc00 1px dashed; BORDER-LEFT: #00cc00 1px dashed; BORDER-BOTTOM: #00cc00 1px dashed
}
.LineForm {
	BORDER-RIGHT: #99cc33 1px solid; BORDER-TOP: #99cc33 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #99cc33 1px solid; COLOR: #666600; BORDER-BOTTOM: #99cc33 1px solid; BACKGROUND-COLOR: #ffffcc
}
